<div class="container">
    <div class="jumbotron">
        <h1>Lottery</h1>
        <ul class="list-group">
            <li class="list-group-item">Contract at: {{contractHandle.contractInst.address}}</li>
            <li class="list-group-item">Number of players: {{numOfPlayers}}</li>
            <li class="list-group-item">Total ether bet: {{totalBet}} ether</li>
            <li class="list-group-item">Minimum bet: {{minimumBet}} ether</li>
        </ul>
    </div>



    <br/>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Your wallet address </label>
                    <input type="text" class="form-control" ng-model="walletAddress">

                </div>
                <div class="form-group">
                    <label>Your private key</label>
                    <input type="text" class="form-control" ng-model="privateKey">
                </div>
                
            </form>
        </div>
    </div>

    <br/>
    <div class="card" ng-if="canStartGame()">
        <div class="card-body">
            <h2>Take action</h2>
            <div class="alert alert-primary" role="alert">
                Please join the game.
            </div>
            <button type="button" class="btn btn-primary" ng-click="join()">Join</button>
        </div>
    </div>

</div>